@import "tailwindcss";

@theme {
  --color-primary: #ee2248;
  --color-background: #e6e8e8;
  --color-dark: #04142c;
  --color-light: #e6e8e8;
  --color-gray: #8c8c8c;
  --color-neon: #06223e;
  --color-white: #fff;

  --font-proxima: Montserrat, "sans-serif";
  --font-polysans: Archivo, "sans-serif";
}

:root {
  font-family: var(--font-polysans), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  --color-primary: #ee2248;
  --color-background: #e6e8e8;
  --color-neon: #06223e;
  --color-dark: #04142c;
  --color-white: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: var(--background);
  }
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: var(--font-proxima);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.slick-slide > div > div {
  padding: 8px !important;
}
